html, body { height: 100%; }
body { 
  width: 60%;
}

.contenido{
  margin-left: 27%;
  width: 80%;
}

.contenedor{
  margin-left: 20%;
  width: 100%;
}

.titulo{
  background-color: white;
  width: 50%;
  /* text-align: center; */
  border-radius: 10px;
  height: 10vh;
  padding: 1%;
}

.tittle{
  width: 100%;
  margin: 4% 25%;
  margin-left: 48%;
}

.parte{
  display: inline-block;
  width: 80%;
  margin: 1%;
  border-radius: 5px;
  margin-left: 10%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
